.main-title {
  font-size: 2rem;
  text-align: center;
}

.player-container{
  width: 250px;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  gap: 0px;
}

.player-board {
  position: relative;
  width: 30px; 
  height: 30px;
  border: 1px solid lightgray;
}

.ship-carrier {
  cursor: pointer;
  width: 160px;
  height: 30px;
  position: absolute;
  opacity: 60%;
  bottom: 5%;
  z-index: 10;
}