.main-title {
  font-size: 2rem;
  text-align: center;
}

.player-container{
  width: 250px;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.player-board {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.ship-carrier {
  width: 150px;
}